body {
  font-family: "Inter", sans-serif;
  background-color: #F5F7FB;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #293264;
  position: relative;

}

.bubble {
  position: absolute;
  width: 200px;
  z-index: 1;
}

.bubble.blue {
  bottom: 0;
  left: 0;
}

.bubble.yellow {
  top: 0;
  right: 0;
}

main {
  position: relative;
  display: flex;
  justify-content: center;
  z-index: 2;
}

.start-screen,
.quiz-screen {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.start-screen {
  align-items: center;
}


.quiz-screen {
  align-items: start;
  width: 80%;
  min-width: 80%;
}

.container {
  display: flex;
  flex-direction: column;
}

.title {
  font-size: 2rem;
  margin-bottom: 0;
  font-family: "Karla", sans-serif;

}

.start-button {
  background-color: #4D5B9E;
  color: #F5F7FB;
  font-family: "Inter", sans-serif;
  width: 193px;
  height: 52px;
  border-radius: 15px;
  margin-top: 20px;
}

.question {
  font-family: "Karla", sans-serif;
  margin: 15px 0 10px;
}

.answer {
  border: #4D5B9E 1px solid;
  font-family: "Inter", sans-serif;
  color: #293264;
  border-radius: .9rem;
  padding: 10px 15px;
  min-width: 65px;
  margin-right: 12px;
  margin-bottom: 12px;
}

.answer.selected {
  border: none;
  outline: none;
  background-color: #D6DBF5;
}

.handlers-container {
  display: flex;
  margin-top: 20px;
}

.button {
  background-color: #4D5B9E;
  color: #F5F7FB;
  border-radius: 15px;
  min-width: 180px;
  height: 50px;
}

.scores {
  margin: 0;
  font-weight: bold;
  font-size: 1.2rem;
}

.handlers-container:has(.button.check) {
  justify-content: center;

}

.handlers-container:has(.button.again) {
  justify-content: space-evenly;
  align-items: center;
}

.loader {
  width: calc(100px - 24px);
  height: 50px;
  position: relative;
  animation: flippx 2s infinite linear;
}

.loader:before {
  content: "";
  position: absolute;
  inset: 0;
  margin: auto;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background: #293264;
  transform-origin: -24px 50%;
  animation: spin 1s infinite linear;
}

.loader:after {
  content: "";
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  background: #293264;
  width: 48px;
  height: 48px;
  border-radius: 50%;
}

@keyframes flippx {

  0%,
  49% {
    transform: scaleX(1);
  }

  50%,
  100% {
    transform: scaleX(-1);
  }
}

@keyframes spin {
  100% {
    transform: rotate(360deg);
  }
}